* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

}

body {
    height: 100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1)50%, rgba(0, 0, 0, 0.1)50%), url(pexels-andrea-piacquadio-2672979.jpg);

}
.container{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 530px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(257,257, 257, .7);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
